/Segundo Proyecto/.ipy*
/Segundo Proyecto/*.bin
/Segundo Proyecto/.cph/*.*
.vscode/*.*
Segundo Proyecto/.vscode/settings.json
Segundo Proyecto/Informe segundo problema de DAA.html
Segundo Proyecto/Informe segundo problema de DAA.ipynb
